<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huaiying.imobilesafe">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.SplahActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.HomeActivity" />
        <activity android:name=".ui.activity.LostFindActivity" />
        <activity android:name=".ui.activity.LostSetup1Activity" />
        <activity android:name=".ui.activity.CallSmsSafeActivity" />
        <activity android:name=".ui.activity.LostSetup2Activity" />
        <activity android:name=".ui.activity.LostSetup3Activity" />
        <activity android:name=".ui.activity.ContactSelectedActivity2" />
        <activity android:name=".ui.activity.LostSetup4Activity" />

        <receiver
            android:name=".receiver.SafeAdimnReceiver"
            android:description="@string/sample_device_admin_description"
            android:label="@string/sample_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.activity.LostSetup5Activity" />
        <activity android:name=".BlackEditActivity" />

        <service
            android:name=".service.CallSmsSafeService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ui.activity.AppManagerActivity" />
        <activity android:name=".ProcessManagerActivity"></activity>
    </application>

</manifest>
